html {
  --base-line-height: 2;
}

.a-long-text {
  p,
  ul,
  ol,
  blockquote,
  pre,
  table,
  div,
  section,
  aside,
  dl {
    margin-block: 2rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 800;
  }
  h1 {
    font-size: 2.5rem;
    line-height: 3.25rem;
    margin-block: 2.75rem;
  }
  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-block: 2.25rem;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-block: 1.75rem;
  }
  h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-block: 1.25rem;
  }
  h5 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-block: 1rem;
  }
  h6 {
    font-size: .875rem;
    line-height: 1.25rem;
    margin-block: 1.25rem;
    margin-block: .75rem;
  }
  p {
    font-size: 1rem;
    line-height: 2rem;
  }
  ol {
    list-style-type: decimal;
    margin-left: 2em;
  }
  ul {
    list-style-type: disc;
    margin-left: 1.75em;
  }
  li {
    font-size: 1rem;
    line-height: 2rem;
    margin-block: .5rem;
  }
  blockquote {
    border-left: solid .125rem var(--text-muted);
    padding-left: 1.5rem;
    font-style: italic;
  }
  code {
    white-space: pre-wrap;
    line-height: 1.6;
  }
  a:link,
  a:visited {
    text-decoration: underline;
    color: var(--link-link)
  }
  a:hover,
  a:active {
    text-decoration: none;
    color: var(--link-link)
  }
  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }
}
