.a-container {
  width: 100%;
  padding-inline: 2rem;
  margin-inline: auto;
  &.is-xs {
    max-width: 480px;
  }
  &.is-sm {
    max-width: 640px;
  }
  &.is-md {
    max-width: 768px;
  }
  &.is-lg {
    max-width: 1024px;
  }
  &.is-xl {
    max-width: 1280px;
  }
  &.is-2xl {
    max-width: 1536px;
  }
}

@container page (max-width: 680px) {
  .a-container {
    padding-inline: 1.25rem;
  }
}
