.a-pagination + .articles {
  margin-top: 4rem;
}

@container page__body (max-width: 400px) {
  .a-pagination + .articles {
    margin-top: 3rem;
  }
}


.articles + .a-pagination {
  margin-top: 4rem;
}

@container page__body (max-width: 400px) {
  .articles + .a-pagination {
    margin-top: 3rem;
  }
}

.a-pagination__items {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.a-pagination__item-link {
  color: var(--text-muted);
  display: flex;
  font-size: .75rem;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0;
  border-radius: 50%;
}

a.a-pagination__item-link:hover {
  background-color: var(--background-dark);
}

.a-pagination__item-link.is-active {
  color: var(--text-default)
  background-color: var(--background-base);
  border-radius: 50%;
  pointer-events: none;
  border: solid 1px var(--text-muted);
}

.a-pagination__item-link.is-inactive {
  color: #CBD5E1;
}

.a-pagination__item-link .gg-chevron-right,
.a-pagination__item-link .gg-chevron-left {
  --ggs: .625;
}
