html {
  --base-line-height: 2;
  --headding-line-height: 1.4;
  color: var(--text-default);
  font-feature-settings: "palt";
  letter-spacing: .125em;
  font-family: var(--fonts);
}


body {
  color: var(--text-default);
}
