html {
  color: var(--text-default);
  font-family: var(--fonts);
  font-feature-settings: "palt";
  letter-spacing: .095em;
}


body {
  color: var(--text-default);
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: .1em;
}
