.admin-page-info {
  background-color: #fff;
}

.admin-page-info__inner {
  min-height: 3.25rem;
  display: flex;
  align-items: center;
}

.admin-page-info__title {
  font-size: 1.25rem;
  font-weight: 800;
}
