.admin-bar {
  background-color: #E2E8F0;
  color: var(--text-light);
  padding-bottom: .5rem;
  a {
    color: var(--text-light);
  }
}

.admin-bar__rows {
  display: flex;
  flex-direction: column;
}

.admin-bar-nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
