.article-header__title {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 3.25rem;
}

.article-header__published-at {
  color: var(--text-light);
  margin-top: 2rem;
  display: block;
  font-size: .875rem;
  line-height: 1.25rem;
}

.article-body {
  margin-top: 2rem;
}

.article-footer {
  margin-top: 6rem;
}

.article-nav__items {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.article-nav__item-link {
  font-size: .875rem;
  line-height: 1rem;
  color: var(--text-muted);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.75rem;
  min-height: 2.75rem;
}


.article-author-nav {
  margin-top: 4rem;
}

.article-author-nav__items {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.article-nav__item-icon {
  transform: scale(.875);
}
