@container dashboard-header (max-width: 400px) {
  .dashboard-header-nav {
    display: none;
  }
  .is-active .dashboard-header-nav {
    display: block;
  }
}

.dashboard-header-nav__inner {
  display: flex;
  align-items: center;
}

@container dashboard-header (max-width: 400px) {
  .dashboard-header-nav__inner {
    position: absolute;
    right: 0;
    top: 2.75rem;
    background-color: var(--background-darker);
  }
}


.dashboard-header-nav__items {
  display: flex;
  align-items: center;
}

@container dashboard-header (max-width: 400px) {
  .dashboard-header-nav__items {
    flex-direction: column;
  }
}

.dashboard-header-nav__item-link {
  font-size: .875rem;
  display: flex;
  width: 2.75rem;
  height: 2.75rem;
  justify-content: center;
  align-items: center;
  color: var(--text-muted)
}

.dashboard-header-nav__item-link:hover {
  background-color: var(--text-muted);
  color: var(--text-reversal)
}

.dashboard-header-nav__item-icon {
  transform: scale(.8);
}

.is-shown-then-active {
  display: none;
}

.is-active .is-shown-then-active {
  display: inline;
}

.is-hidden-then-active {
  display: inline;
}

.is-active .is-hidden-then-active {
  display: none;
}
