.form__actions {
  display: flex;
  gap: .75rem;
  justify-content: center;
}

.form__action {
  min-width: 7.5rem;
  flex: 1;
  max-width: 15rem;
  display: flex;
  align-items: flex-end;
}

@container form__actions (max-width: 400px) {
  .form__action {
    min-width: 0rem;
  }
}

.form__action.is-sub {
  min-width: 0;
  flex: 0 0 auto;
}
