.main-visual__inner {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-visual__logo {
  font-size: 4rem;
  text-align: center;
  justify-content: center;
  font-family: 'IBM Plex Sans', sans-serif;
  letter-spacing: 0;
}

.main-visual__tag-line {
  text-align: center;
  justify-content: center;
}
