.main-visual__inner {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

@container main-visual (max-width: 400px) {
  .main-visual__inner {
    height: 20rem;
  }
}

.main-visual__logo {
  font-size: 4rem;
  line-height: 4.5rem;
  text-align: center;
  justify-content: center;
  font-family: 'IBM Plex Sans', sans-serif;
  letter-spacing: 0;
}

@container main-visual (max-width: 400px) {
  .main-visual__logo {
    font-size: 3rem;
    line-height: 4.25rem;
  }
}

.main-visual__tag-line {
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: .25rem;
  letter-spacing: .125em;
  text-indent: .125em;
}

@container main-visual (max-width: 400px) {
  .main-visual__tag-line {
    font-size: .875rem;
    line-height: 1.25rem;
  }
}

.main-visual__to-dashboard-link {
  position: absolute;
  right: 0;
  bottom: 0;
  color: var(--text-muted)
}

.main-visual__to-dashboard-link a {
  width: 2.75rem;
  height: 2.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(.8);
}
