.markdown-editor__columns {
  display: flex;
  gap: 2rem
}

@container markdown-editor (max-width: 680px) {
  .markdown-editor__columns {
    flex-direction: column;
  }
}

.markdown-editor__column {
  flex: 1;
}

.markdown-editor__input {
  min-height: 30rem;
  overflow: hidden;
}
