:root {
  --fonts: 'Noto Sans JP', sans-serif;

  --background: #FFF;

  --text-default: #475569;
  --text-light: #64748B;
  --text-muted: #94A3B8;
  --text-reversal: #fff;

  --link-link: #1E3A8A;

  --primary: #0284C7;

  --border: #E2E8F0;
}
